@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --foreground: #000000;
  --textGrey: #a3a3a3;
  --VarViolet600: #7c3aed;
  --VarViolet700: #6d28d9;
  --VarViolet800: #5b21b6;
  --VarPurple600: #9333ea;
  --VarPurple700: #7e22ce;
  --VarPurple800: #6b21a8;
}

html,
body {
  touch-action: manipulation;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
